:root{
  --color-black:#000000;
  --color-primary:#1D1D1D;
  --color-white:#fff;
  --color-grey:#808080;
}

*,*::before,*::after{
  box-sizing: border-box;
}

*{
  margin: 0;
}

html,body{
  height: 100%;
}

img,svg{
  display:block;
  max-width: 100%;
}

body{
  background-color: var(--color-primary);
  color: var(--color-white);
  font-family: "Poppins","sans-serif";
  overflow-x: hidden;
}