.container {
    width: 100vw;
    height: 267px;
    flex-shrink: 0;
    padding: 50px;
    padding-top: 100px;
    background-color: var(--color-black);
  }
  
  .navbar {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .navcontent {
    display: flex;
    /* justify-content: center; */
    /* justify-content: space-evenly; */
    gap: 40px;
  }
  
  .copyright {
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    gap: 20px;
  }
  
  .media {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
  }
  
  .imgMedia {
    cursor: pointer;
  }